@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-blue: #0d3b66;
  --main-cream: #f9f8f4;
  --main-red: #f1554c;
  --main-yellow: #f4d35e;
  --main-orange: #ee964b;
}

nav {
  min-height: 5em;
}

ul li a:hover {
  cursor: pointer;
}

ul>li:first-of-type>a {
  border-top-right-radius: 1rem;
}

.testButton {}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icon-container:hover {
  @apply orange-gradient
}

.button {
  line-height: 54px;
  vertical-align: middle
}

.button img {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 2rem;
  padding: .25rem;
}

.cta {
  @apply inline-block px-4 py-2 leading-none border rounded mt-4;
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
  color: #fff;
}

.cta-lg {
  @apply inline-block py-4 leading-none border rounded-lg;
  background: linear-gradient(to bottom right,
      var(--main-blue) 0%,
      var(--main-red) 85%,
      var(--main-orange) 100%);
  color: #fff;
}

.cta-lg:disabled {
  cursor: default;
  background-size: 300% 300%;
  animation: gradient 2.5s ease infinite;
  opacity: .9;
}

#landing h1 {
  font-size: 6rem;
  background: linear-gradient(to right,
      var(--main-blue) 0%,
      var(--main-red) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 780px) {
  div.mobile-menu {
    transition: all 0.2s ease;
    position: absolute;
    top: 5em;
    background: #fff;
  }
}