@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-blue: #0d3b66;
  --main-white: #fff;
  --main-red: #f1554c;
  --main-yellow: #f4d35e;
  --main-orange: #ee964b;
}

nav {
  min-height: 5em;
}

.cta {
  @apply inline-block px-4 py-2 leading-none border rounded mt-4;
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
  color: var(--main-white);
}

.cta-lg {
  @apply inline-block py-4 leading-none border rounded-lg;
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
  color: var(--main-white);
}

#landing h1 {
  font-size: 6rem;
  background: linear-gradient(
    to right,
    var(--main-blue) 0%,
    var(--main-red) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 780px) {
  div.mobile-menu {
    transition: all 0.2s ease;
    position: absolute;
    top: 5em;
    background: #fff;
  }
}
